---
doc_id: c2pa-2026-specification-2-5
doc_title: "Content Credentials : C2PA Technical Specification, version 2.5"
section_id: s187-14-2-returning-validation-results
section_title: "14.2. Returning Validation Results"
file: "build/site/specifications/2.5/specs/C2PA_Specification.html.md"
lines: 2505-2507
source_sha256: ff401df19d1fde8c
granularity: heading
---
### 14.2. Returning Validation Results

<a id="_general_5"></a>
