# GAP build artefacts
src/.libs/
src/*.la
src/*.lo
src/*.o
src/Makefile
src/configure
src/config.log
src/config.status
src/autom4te.cache/
src/aclocal.m4
src/configure~
bin/
doc/manual.six
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.log
doc/*.out
doc/*.pdf
doc/*.toc
